#set_adhoc_booking .day_col {
  float: left;
  width: 45px;
}

#set_adhoc_booking .hours_col {
  float: left;
  width: 25px;
  margin-right: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#set_adhoc_booking .hours_col button {
  float: left;
  width: 97%;
  height: 14px;
  padding: 0;
  margin-right: 1px;
}

#set_adhoc_booking .hours_col .half_hour {
  width: 46%;
}

#set_adhoc_booking .hours_col .quarter_hour {
  width: 21%;
}

#set_adhoc_booking .week_days {
  font-size: 12px;
  height: 17px;
}

#set_adhoc_booking #regular_journey,
#set_adhoc_booking #interpreter_journey {
  padding: 15px;
}

#set_adhoc_booking .adhoc_hours_selection {
  width: 800px;
  height: 160px;
}

#set_adhoc_booking .adhoc-rows {
  margin-top: 15px;
}

#set_adhoc_booking label {
  line-height: 30px;
}

.adhoc-hours {
  list-style: none;
  float: left;
}

.adhoc-hours p {
  margin-bottom: 5px;
}

.adhoc-hours li {
  font-size: 12px;
  line-height: 17px;
  padding-left: 17px;
}

.adhoc-hours i {
  color: red;
}

.day_col {
  float: left;
  width: 45px;
}

.hours_selection {
  width: 1700px;
}

.hours_col {
  float: left;
  width: 65px;
  margin-right: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.hours_col button {
  float: left;
  width: 97%;
  height: 14px;
  padding: 0;
  margin-right: 1px;
}

.hours_col .half_hour {
  width: 48%;
}

.hours_col .quarter_hour {
  width: 23%;
}

.week_days {
  font-size: 12px;
  height: 17px;
}

#regular button.active,
#interpreter button.active,
#regular_journey button.active,
#interpreter_journey button.active {
  background-color: #17c4bb;
}

#set_hours .tab-content {
  padding: 20px;
}

.service_days .btn-group {
  margin-bottom: 20px;
}

.service_days .whiteLink {
  color: #fff;
  text-decoration: none;
}

.service_days .whiteLink :hover {
  text-decoration: none;
}

.service_days label {
  padding-left: 0px;
  padding-right: 0px;
}

.service_days label a {
  padding: 0px 5px;
}

.calendars th,
.calendars td {
  border: solid 1px #EFEFEF;
  font-size: 13px;
  text-align: center;
}

.option_day {
  padding: 2px 3px;
}

.month_label {
  font-weight: bold;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #EFEFEF;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #17c4bb;
}

.modal-body::-webkit-scrollbar {
  background-color: #EFEFEF;
  height: 12px;
}

.ds-selected {
  background-color: #17c4bb;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

.loader {
  border: 16px solid #EFEFEF;
  border-radius: 50%;
  border-top: 16px solid #17c4bb;
  border-bottom: 16px solid #17c4bb;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

