#set_adhoc_booking .day_col {
  float: left;
  width: 45px;
}

#set_adhoc_booking .hours_col {
  float: left;
  width: 25px;
  margin-right: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#set_adhoc_booking .hours_col button {
  float: left;
  width: 97%;
  height: 14px;
  padding: 0;
  margin-right: 1px;
}

#set_adhoc_booking .hours_col .half_hour {
  width: 46%;
}

#set_adhoc_booking .hours_col .quarter_hour {
  width: 21%;
}

#set_adhoc_booking .week_days {
  font-size: 12px;
  height: 17px;
}

.day_col {
  float: left;
  width: 45px;
}

.hours_selection {
  width: 1700px;
}

.hours_col {
  float: left;
  width: 65px;
  margin-right: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.hours_col button {
  float: left;
  width: 97%;
  height: 14px;
  padding: 0;
  margin-right: 1px;
}

.hours_col .half_hour {
  width: 48%;
}

.hours_col .quarter_hour {
  width: 23%;
}

.week_days {
  font-size: 12px;
  height: 17px;
}

.service_days .whiteLink {
  color: #fff;
  text-decoration: none;
}

.service_days .whiteLink :hover {
  text-decoration: none;
}

.service_days label {
  padding-left: 0px;
  padding-right: 0px;
}

.service_days label a {
  padding: 0px 5px;
}

.calendars th,
.calendars td {
  border: solid 1px #EFEFEF;
  font-size: 13px;
  text-align: center;
}

.option_day {
  padding: 1px 3px;
}

.month_label {
  font-weight: bold;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #EFEFEF;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #17c4bb;
}

.modal-body::-webkit-scrollbar {
  background-color: #EFEFEF;
  height: 12px;
}

.ds-selected {
  background-color: #17c4bb;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

