$orbit-blue: #17c4bb;
$light-grey: #EFEFEF;
$white: #fff;
$soft_red: #E7505A;
//Adhock Calendar Styles
#set_adhoc_booking {
    .day_col {
        float: left;
        width: 45px;
    }
    .hours_col {
        float: left;
        width: 25px;
        margin-right: 3px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        button {
            float: left;
            width: 97%;
            height: 14px;
            padding: 0;
            margin-right: 1px;
        }
        .half_hour {
            width: 46%;
        }
        .quarter_hour {
            width: 21%;
        }
    }
    .week_days {
        font-size: 12px;
        height: 19px;
    }
    .adhoc_hours_selection{
        width: 800px;
        height: 160px;
    }
    .adhoc-rows{
        margin-top: 15px;
    }
    label {
        line-height: 30px;
    }
}

.adhoc-hours {
    list-style: none;
    float: left;
    p {
        margin-bottom: 5px;
    }
    li {
        font-size: 12px;
        line-height: 17px;
        padding-left: 17px;
    }
    i {
        color: red;
    }
}
#adhoc_details {
    color: black;
}
//Hours Calendar Styles
.day_col {
    float: left;
    width: 45px;
}

.hours_selection {
    width: 1700px;
}

.hours_col {
    float: left;
    width: 65px;
    margin-right: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    button {
        float: left;
        width: 97%;
        height: 14px;
        padding: 0;
        margin-right: 1px;
    }
    .half_hour {
        width: 48%;
    }
    .quarter_hour {
        width: 23%;
    }
}

.week_days {
    font-size: 12px;
    height: 19px;
}

#regular,
#interpreter,
#regular_journey,
#interpreter_journey {
    button.active {
        background-color: $orbit-blue;
    }
}

#set_hours {
    .tab-content{
        padding: 20px;
    }
}
// Days Calendar Styles
.service_days {
    .whiteLink {
        color: $white;
        text-decoration: none;
        :hover {
            text-decoration: none;
        }
    }
    label {
        padding-left: 0px;
        padding-right: 0px;
        a {
            padding: 0px 5px;
        }
    }
}

.calendars {
    th,
    td {
        border: solid 1px $light-grey;
        font-size: 12px;
        text-align: center;
    }
}

.option_day {
    padding: 2px 3px;
    background: white;
}

.month_label {
    font-weight: bold;
}

.modal-body {
    &::-webkit-scrollbar-track {
        background-color: $light-grey;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $orbit-blue;
    }
    &::-webkit-scrollbar {
        background-color: $light-grey;
        height: 12px;
    }

    @media (min-width: 576px) {
        overflow-y: auto;
    }
}

.ds-selected {
    background-color: $orbit-blue;
    width: 22px;
    height: 22px;
    border: 0;
}
.holiday {
    width: 22px;
    height: 22px;
    border-style: solid;
    border-width: inherit;
    border-top-right-radius: 9px;
    border: solid #c49617 1px;
    padding: 0;
}

.week_day :not(.ds-selectable){
    background-color: white;
    line-height: 22px;
}
.week_day{
    background-color: #c49617;
}
.holiday_conv {
    width: 22px;
    height: 22px;
    border-style: solid;
    border-color: #c49617;
    float: right;
    border-width: thin;
}

#holiday_label {
    float: right;
}

.selected_conv {
    width: 22px;
    height: 22px;
    background-color: $orbit-blue;
    float: right;

}

#selected_label {
    float: right;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-lg {
    max-width: 850px;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

// Loader
.loader {
    border: 16px solid $light-grey;
    border-radius: 50%;
    border-top: 16px solid $orbit-blue;
    border-bottom: 16px solid $orbit-blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.multiselect{
    z-index: 3;
}
.mt-radio-inline{
    padding-top: 6px;
}
.mt-radio-outline{
    display:block;
}
.date_disabled{
    background-color: #e0e0e0;
    background-image: none;
    border: none;
    box-shadow: none;
    opacity: .65;
    cursor: not-allowed;
    text-shadow: 0 1px 0 #fff;
    background-repeat: repeat-x;
    display: block;
    width: 100%;
    pointer-events: none;
}
#booking_description {
    padding: 0;
    border: 0;
}

/*************** Resources Page *******/
.resource {
    #interpreter_journey,
    #interpreter,
    #regular_journey,
    #regular{
        button.active {
            background-color: $soft_red;
        }
    }
    .ds-selected,
    .selected_conv {
        background-color: $soft_red;
    }
}
/*************** Login Page **********/
#login_button {
    position: relative;
    left: 5%;
    padding-top: 20%;
}
.vl {
    border-left: 1px solid lightgray;
    height: 500px;
}

@media (max-width: 991px) {
.vl {
        border-top: 1px solid lightgray;
        border-left: none;
        height: 500px;
    }
}

/********** Buggy calendar in B4 *************/
.fc-unthemed {
    .fc-scroller .fc-content-col {
        padding: 0;
    }

    .fc-event .fc-content:before,
    .fc-event-dot .fc-content:before {
        display: none;
    }

    .fc-event .fc-content,
    .fc-event-dot .fc-content {
        padding: 0.22rem 0.55rem 0.55rem 0.75rem;
    }

    .fc-event {
        .fc-title,
        .fc-time {
            color: white;
        }
    }

}

/****** Date picker ****/
.vdp-datepicker__calendar {
    width: 224px;
    header{
        line-height: 30px;
    }
    .cell{
        height: 30px;
        line-height: 30px;
    }
}

/***** table Styles ***/
.list-table{
    .btn-sm,
    .btn-group-sm>.btn {
        padding: 0.35rem 0.5rem;
        font-size: 0.475rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
}

/***************** color in service form*********************/
#color {
    padding: 5px;
}

#detailsh3{
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.55rem;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #3f4047;
}

/**************** Template wide changes *************/
.nav-tabs {
    .nav-link {
        border-color: #ebedf2;
    }
}

.btn-green {
    color: $white;
    background-color: $orbit-blue;
    border-color: $orbit-blue;
}

/***************** General Styles ********************/
.hidden {
    display: none !important;
}